<ion-content>
  <!-- card -->
  <ion-card class="card">
    <ion-card-header class="header">
      <ion-card-title class="title">
        Planet Name
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="card-content" color="secondary">
      <div class="item">
        <p>Population:</p>
        <p>{{ population }}</p>
      </div>

      <div class="item">
        <p>Climate:</p>
        <p>{{ climate }}</p>
      </div>

      <div class="item">
        <p>Terrain:</p>
        <p>{{ terrain }}</p>
      </div>

      <p *ngIf="numFilms === 1; else notOne">Featured in {{ numFilms }} film</p>
      <ng-template #notOne>
        <p>Featured in {{ numFilms }} films</p>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <!-- button -->
  <ion-row center>
    <ion-col text-center>
      <ion-button (click)="getPlanet()" color="dark" shape="round" strong="true" padding>
        Next!
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<!-- 
GET: planets/ => count: 61 => (planets/0 => planets/61)
 -->
