<!-- title -->
<ion-header class="ionheader">
  <ion-toolbar>
    <ion-title>
      Star Wars Planets
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- ion-content -->
<ion-content>
  <!-- card -->
  <ion-card class="card">
    <ion-card-header class="header">
      <ion-card-title class="title">
        {{ planet.name }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="card-content" color="secondary">
      <div class="item">
        <p>Population:</p>
        <p>{{ planet.population }}</p>
      </div>

      <div class="item">
        <p>Climate:</p>
        <p>{{ planet.climate }}</p>
      </div>

      <div class="item">
        <p>Terrain:</p>
        <p>{{ planet.terrain }}</p>
      </div>

      <p *ngIf="planet.films.length === 1; else notOne">Featured in {{ planet.films.length }} film</p>
      <ng-template #notOne>
        <p>Featured in {{ planet.films.length }} films</p>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <!-- button -->
  <ion-row center>
    <ion-col text-center>
      <ion-button (click)="getPlanet()" color="dark" shape="round" strong="true" padding>
        Next!
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<!-- 
GET: planets/ => count: 61 => (planets/0 => planets/61)
 -->
