<ion-content>
  <!-- card -->
  <ion-card class="card">
    <ion-card-header class="header">
      <ion-card-title class="title">
        Planet Name
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="card-content" color="secondary">
      <div class="items">
        <p>Population:</p>
        <p>mozão</p>
      </div>

      <div class="items">
        <p>Climate:</p>
        <p>é</p>
      </div>

      <div class="items">
        <p>Terrain:</p>
        <p>top</p>
      </div>

      <p>Featured in {{ numFilms }} films</p>
    </ion-card-content>
  </ion-card>

  <!-- button -->
  <ion-row center>
    <ion-col text-center>
      <ion-button color="dark" shape="round" strong="true" padding>
        Next!
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<!-- 
GET: planets/ => count: 61 => (planets/0 => planets/61)
 -->
